@use '../abstracts' as *;

.properties-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  margin: 3.2rem 0;
  @include respond(tab-land) {
    justify-items: center;
    gap: 1.6rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.property-grid {
  grid-area: gallery;
}

.property-description {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
  gap: 1.6rem;
  grid-area: 1 / 1 / span 1 / span 2;

  @include respond(phone) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2/3;
  }
}

.property-gallery {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  height: 46rem;
  @include respond(phone) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1/2;
  }
}

.sort-by {
  all: unset;
  padding: 0.6rem 1rem;
  background-color: #f2f2f2;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &:hover {
    background-color: var(--color-primary-25);
  }

  &:active {
    background-color: var(--color-primary-50);
  }

	&-section{
		display: flex;
		gap: 1.6rem;
		align-items: center;
	}
}

.sort-item {
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-25);
  }
}

.page-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.rotate-chevron {
  transform: rotate(0);
  transition: transform 0.3s;

  &.active {
    transform: rotate(-180deg);
  }
}

.edit-property {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;

  @include respond(tab-land) {
    flex-direction: column;
  }

  & .right-section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & .image-section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    & .room-section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      align-items: flex-end;
      @include respond(tab-land) {
        align-items: flex-start;
      }
    }
  }
}
