@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Inter-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Inter-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Inter-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Halant-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Halant-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Halant-Bold.ttf') format('truetype');
}
