@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Avenir-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Halant-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Halant-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Halant-Bold.ttf') format('truetype');
}
